/*body {
    margin:0;
    padding:0;
    font-family:monserrat;
    background:linear-gradient(150deg)
    
}*/
/*Estilos botones login y registro*/
/*.BoxbtnLogin {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align:end;
}

    .BoxLogin .container {
        display: flex;
        justify-content: flex-end;
    }

    .BoxLogin .btn {
        margin-left: 10px;
    }*/


/*Estilo login*/
/*.BoxLogin1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    width:400px;
    border-radius:10px;

}
    .BoxLogin1 .container {
        text-align:center;
        padding:0 0 20px 0;
        border-bottom: 1px solid silver;
    }*/



/*Estilos del registro*/
/*.BoxRegistro {
    text-align: center;
}
    .BoxRegistro{

    }*/
    